@model IEnumerable<Lab09.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_Admin.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrdersDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrdersDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                    <a class="btn btn-warning btn-sm btn-edit" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#sharedModal">
                        <i class="fas fa-edit"></i> Sửa
                    </a>
                    <a class="btn btn-info btn-sm btn-details" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#sharedModal">
                        <i class="fas fa-eye"></i> Chi tiết
                    </a>
                    <a class="btn btn-danger btn-sm btn-delete" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#sharedModal">
                        <i class="fas fa-trash-alt"></i> Xóa
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="modal fade" id="sharedModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Nội dung sẽ được tải động -->
                <div id="modalContent"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.btn-details').on('click', function () {
            var id = $(this).data('id'); // Lấy ID sản phẩm

            // Gửi yêu cầu AJAX để lấy chi tiết sản phẩm
            $.ajax({
                url: '/Admins/Orders/Details/' + id,
                type: 'GET',
                success: function (response) {
                    $('#modal-title').text('Chi tiết sản phẩm');
                    $('#modalContent').html(response); // Chèn nội dung vào modal
                },
                error: function () {
                    alert('Không thể tải chi tiết sản phẩm.');
                }
            });
        });

        // Mở modal Sửa
        $('.btn-edit').click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/Admins/Orders/Edit/' + id,
                type: 'PUT',
                success: function (response) {
                    $('#modal-title').text('Chỉnh sửa sản phẩm');
                    $('#modalContent').html(response); // Chèn nội dung vào modal
                },
                error: function () {
                    alert('Không thể tải trang chỉnh sửa sản phẩm.');
                }
            });
        });

        // Mở modal Xóa
        $('.btn-delete').click(function () {
            var id = $(this).data('id'); // Lấy ID sản phẩm
            // Gửi yêu cầu AJAX để lấy chi tiết sản phẩm
            $.ajax({
                url: '/Admins/Orders/Delete/' + id,
                type: 'DELETE',
                success: function (response) {
                     $('#modal-title').text('Xóa sản phẩm');
                     $('#modalContent').html(response); // Chèn nội dung vào modal
                },
                error: function () {
                     alert('Không thể tải trang xóa sản phẩm.');
                }
            });
        });
    });
</script>