@model IEnumerable<Lab09.Models.ProductImage>

@{
    ViewData["Title"] = "Ảnh";
    Layout = "~/Areas/Admins/Views/Shared/_Admin.cshtml";
}

<style>
    input {
        outline: none !important; /* Tắt outline */
        border: none !important; /* Tắt border */
        box-shadow: none !important; /* Tắt shadow nếu có */
    }

        input:focus::placeholder {
            color: transparent;
        }
</style>

<h1>Ảnh</h1>

<p>
    <a asp-action="Create" class="btn btn-warning btn-sm">
        <i class="fas fa-plus"></i>
        Thêm mới
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PidNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="text-center align-middle">
                @Html.DisplayFor(modelItem => item.Image)
            </td>
                <td class="text-center align-middle">
                @Html.DisplayFor(modelItem => item.PidNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
